/*
!.gitignore
!README.md
!/.config/
.config/iterm2/
.config/coc/
.config/tuist/
.config/yarn/*
.config/qB*
.config/raycast/*
.config/better-auth/*
.config/configstore/*
.config/fish/*
.config/uv/*
!.zshrc
!.tmux.conf
!.ideavimrc
